.navbar-custom{
  background-color: #FFCE54; /*MUDA COR DA BARRA DE NAVEGACAO*/
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; /*APLICA AS FONTES DO GOOGLE*/
  text-transform: uppercase; /*COLOCA TEXTO EM MAIUSCULO*/
  border:none;    /*TIRA BORDA*/  
  font-weight: 900; /* DEIXA NEGRITO*/
}

/*ALTERA COR DO LOGO 'BRAND'*/
.navbar-custom .navbar-brand {
  color: #333;
}

/*ALTERA A COR QUANDO TIVER AÇÕES DO MOUSE*/
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active{
  color: #333;
}

/*QUANDO CLICAR E FICAR ATIVO AI MUDA A COR COMO SE FOSSE DO FUNDO*/
.navbar-custom .navbar-brand.active {
  color: #333;
    background: #FFCE54;;
}

.navbar-custom .navbar-nav{
  letter-spacing: 3px; /*AUMENTA ESPAÇO DAS LETRAS DO MENU*/
}

.navbar-custom .navbar-nav li a{
  color:#333; /*ALTERA COR DO MENU*/
}

/*ALTERA A COR QUANDO TIVER AÇÕES DO MOUSE NO MENU*/
.navbar-custom .navbar-nav li a:hover, 
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active{ 
  color: white;
  outline: none;
}

/*ALTERA A COR DO FUNDO E DA LETRA QUANDO FOR ATIVO*/
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #333;
}
/*ALTERA A COR DO FUNDO E DA LETRA QUANDO FOR ATIVO E TIVER AÇÕES DO MOUSE*/
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #333;
}
/*ALTERA MENU HAMBURGUER*/
.navbar-custom .navbar-toggle {
  color: #333;/*COR DO MENU HAMBURGUER*/
  text-transform: uppercase;
  font-size: 10px; /*TAMANHO DO BOTÃO */
  border-color: #333; /*COR DA BORDA*/
}
/*ALTERA COR QUANDO TIVER AÇÕES DO MOUSE*/
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #333;
  color: white;
  border-color: #333;
}

/*FUNDO CABEÇALHO, ALINHAMENTO E COR DO TEXTO*/
header{
  text-align: center;
  background-color:#616161;
  color: white;
}

/*CENTRALIZAÇÃO DO CABEÇALHO EM CIMA E EMBAIXO*/
header .container{
  padding-top: 50px;
  padding-bottom: 50px;
}
/*CENTRALIZAÇÃO DA IMAGEM*/
header img{
  margin-right: auto;
  margin-left: auto;
  display: block;
}
/*TITULO ABAIXO DA IMAGEM CABEÇALHO*/
header .intro-text .titulo{
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; /*APLICA AS FONTES DO GOOGLE*/
  font-size: 2.3em;
  display: inline-block;
}

section {
  text-align: center;
  padding: 100px 0;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; /*APLICA AS FONTES DO GOOGLE*/
  font-weight: 900;
}
section img {
  margin: auto;
}

section .col-sm-4{
  padding: 5px;
}

section h2 {
  margin: auto;
  font-size: 3em;
  font-weight: 900;
  padding-bottom: 30px;
}

#web{
  margin-top:20px;
  display: inline-block;
}
section.sobre{
  background-color:#616161;
  color:white;
}

p.sobre{
  text-align: left;
 font-size: 1.2em;
}

.sobre{
  margin-right: auto;
  margin-left: auto;
}

p.sobre span{
  color:#EF5350;
}